.head Mi caf&eacute; es su caf&eacute;
  .sub-head Ethically traded #[i.icon.ion-coffee] from the #[i.fa.fa-globe] to your #[span.glyphicon.glyphicon-home(aria-hidden="true")]
  .sub-sub-head *taxes and shipping included in all prices

.fom-sect.col-xs-10.col-xs-offset-1
  .fom-fom
    .ribbon.text-center
      |  FLAVOR OF #[br]
      |  THE MONTH
  .spacer
  .fom-name
    .ribbon 
      |  ETHIOPIA #[br]
      |  HAMBELA
  .spacer
  .fom-flavors
    .ribbon.text-indent 
      |  #DEEP CHOCOLATE #[br]
      |  #MERLOT #[br]
      |  #STRAWBERRY 

.purch-type
  .col-xs-6.col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3
    #purchase.purchase-toggle One Time Purchase
  .col-xs-6.col-sm-4.col-md-3
    #subscribe.purchase-toggle.active-purch-type Monthly Subscription
      #save Save 15%

.coffee-sect.col-lg-10.col-lg-offset-1
  each c, index in locals.coffee
    .coffee-ind.col-xs-6.col-sm-3
      .coffee-ind-inside(class= index===1? "active-coffee-amount": "")
        .coffee-amount= c.name
        .coffee-price= '$'+c.purchase
        img.coffee-pic.col-xs-12(src="../images/#{c.name}.png")
        .oz-coffee-amount ~ #{(index+1)*12}oz ~
        a.buy-btn(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{index+1}-bag-subscribe")
          .button-fill
            .button-text Subscribe
            .button-inside