.head.site-head Mi caf&eacute; es su caf&eacute;
  .sub-head.site-sub-head Ethically traded #[i.icon.ion-coffee] from the #[i.fa.fa-globe] to your #[span.glyphicon.glyphicon-home(aria-hidden="true")]

.fom-sect(style="background-image: url('/images/#{locals.fom.image.filename}'); background-position-x: #{locals.fom.image.x}%; background-position-y: #{locals.fom.image.y}%;")
  .fom-fom
    .ribbon.text-center
      |  FLAVOR OF #[br]
      |  THE MONTH
  .fom-name
    .ribbon.text-center
      each line in locals.fom.name.split(' ')
        |  #{line} #[br]
  .fom-flavors
    .ribbon.text-indent 
      each flavor in locals.fom.flavors
        | ##{flavor} #[br]

.head.purch-head= coffee.header
  .sub-head.purch-sub-head
    | #[span.asterisk *]
    = coffee.subHeader
    | #[i.fa.fa-smile-o.smiley-face]

.purch-type
  .col-xs-6.col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3
    #purchase.purchase-toggle= locals.coffee.purchaseLabel
  .col-xs-6.col-sm-4.col-md-3
    #subscribe.purchase-toggle.active-purch-type= locals.coffee.subscriptionLabel
      #save= locals.coffee.subscriptionSavingsClaim

.coffee-sect.col-lg-10.col-lg-offset-1
  each c, index in locals.coffee.product
    .coffee-ind.col-xs-6.col-sm-3
      .coffee-ind-inside(class= index===1? "active-coffee-amount": "")
        .coffee-amount= c.name
        .coffee-price= '$'+c.subscribe+'*'
        img.coffee-pic.col-xs-12(src="../images/#{c.name}.png")
        .oz-coffee-amount ~ #{(index+1)*12}oz ~
        a.buy-btn(href="https://cafejefe.chargebee.com/hosted_pages/plans/#{index+1}-bag-subscribe")
          .button-fill
            .button-text Subscribe
            .button-inside
