extends layout

block content
  .place-holder.no-show
  .landing
    .landing-img
    .shading
  .title
    img(src="../images/cafe_jefe_text.svg")
  .coffee-head.text-center Mi caf&eacute; es su caf&eacute;
  h4.coffee-sub-head.text-center Fair trade #[i.icon.ion-coffee] from the #[i.fa.fa-globe] to your #[span.glyphicon.glyphicon-home(aria-hidden="true")]
  .purch-type
    .col-xs-6.col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3
      .purchase-toggle#purchase One Time Purchase
    .col-xs-6.col-sm-4.col-md-3
      .purchase-toggle.active-purch-type#subscribe Monthly Subscription
        #save Save 15%
  .coffee-sect.col-lg-10.col-lg-offset-1.container
    - var n=1
    while n<5
      .coffee-ind.col-xs-6.col-sm-3
        .coffee-ind-inside(class= n===2? "active-coffee-amount": "")
          .h2.coffee-amount #{n} bag
          .coffee-price
          img.coffee-pic.col-xs-12(src="../images/#{n} bag#{n>1? 's': ''}.png")
          .oz-coffee-amount ~ #{n*12}oz ~
          a.buy-btn(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{n}-bag-subscribe")
            .button-fill
              .button-text Subscribe
              .button-inside
      - n++
  .merch-sect
    h1.merch-head.text-center Got Merch?
    each m in ['tshirt','mug','tank','girlt']
      .merch-ind.col-md-3.col-sm-6.col-sm-offset-0.col-xs-12
        a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{m}")
          img(src="../images/#{m}.jpg").col-xs-12
          .merch-price.h1.text-center.col-xs-12
  include footer
  include script