extends layout

block content
  div.title
    img(src="../images/cafe_jefe_text.svg")
  h1.motto.text-center Mi caf&eacute; es su caf&eacute;
  h4.sub-motto.text-center Fair trade #[i.icon.ion-coffee] from the #[i.fa.fa-globe] to your #[span.glyphicon.glyphicon-home(aria-hidden="true")]
  div.nav
    ul.nav-pills
      .col-xs-6.col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3
        li.purchase_toggle#purchase One Time Purchase
      .col-xs-6.col-sm-4.col-md-3
        li.purchase_toggle.active-pill#subscribe Monthly Subscription
          div(id="save") Save 10%
  .labels.col-lg-10.col-lg-offset-1.container
    - var n=1
    while n<5
      .label_.col-xs-6.col-sm-3
        div(class= n===2? "active-text": "")
          .h2.amount #{n} bag
          .h1.price
          img(src="../images/#{n} bag#{n>1? 's': ''}.png")
          .h5 ~ #{n*12}oz ~
          a.buy_btn(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{n}-bag-subscribe")
            .button_fill.black
              .button-text Subscribe
              .button-inside
                .inside
      - n++
  .merch-sect.container.col-xs-12
    h1.motto.text-center Got Merch?
    each m in ['tshirt','mug','tank','girlt']
      .merch-ind.col-md-3.col-sm-6.col-sm-offset-0.col-xs-10.col-xs-offset-1
        a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{m}")
          img(src="../images/#{m}.jpg").col-xs-12
          .merch-price.h1.text-center.col-xs-12
  include footer