.merch-sect
    .merch-head.text-center Merch It Up!
    each merch in locals.merch
      .merch-ind.col-md-3.col-sm-6.col-sm-offset-0.col-xs-12
          //- a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{merch.name}")
          //- .img(src="../images/#{merch.name}.jpg").col-xs-12
          a.col-xs-12.coin(class=merch.sizes.length? "coin-flip disable-link": "not-clothes",href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{merch.name}", style="background:url(../images/#{merch.name}.jpg) no-repeat center /cover;")
          .back(style=merch.sizes.length? "" : "display:none;")
            .t-shirt(data-size='M')
            each size,index in merch.sizes
              .size.merch-button.col-xs-3(class="#{size}", class=index===1? "active" : "")
                p #{size}
            a.buy-merch.merch-button(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{merch.name}_M") To Ya House
          .merch-price.col-xs-12= '$'+merch.price