extends layout

block content
  div.title
    img(src="../images/cafe_jefe_text.svg")
  h1.motto.text-center Mi Caf&eacute; es su Caf&eacute;
  h4.sub-motto.text-center Fair trade #[i.icon.ion-coffee] from around the #[i.fa.fa-globe] to your #[span.glyphicon.glyphicon-home(aria-hidden="true")]
  div.nav.row
    ul.nav-pills
      .col-xs-6.col-sm-3.col-sm-offset-3
        li.purchase_toggle#purchase One Time Purchase
      .col-xs-6.col-sm-3
        li.purchase_toggle.active-pill#subscribe Monthly Subscription
          div(id="save") Save 10%
  .labels.col-lg-10.col-lg-offset-1.container
    - var n=1
    while n<5
      .col-xs-6.col-sm-3
        .label_(class= n===2? "active-text": "")
          .h2.amount #{n} bag
          .h1.price
          img(src="../images/#{n} bag#{n>1? 's': ''}.png")
          .h5 ~ #{n*12}oz ~
          a.buy_btn(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{n}-bag-subscribe")
            .button_fill.black
              .button-text Subscribe
              .button-inside
                .inside
      - n++
  #map.col-xs-12
  footer.black
    .col-xs-12.text-center.white-text
      .back-to-top
        i.fa.fa-angle-double-up
    .text-center.container
      .row
        .col-md-12.footer-logo
          a(href="#")
            img.col-xs-2.col-xs-offset-5(src="../images/cafe_jefe_text.svg")
        .footer-info.col-xs-12
          .footer-copyright Copyright &#169; 2014 CafeJefe LLC All Rights Reserved